.cart-page__container {
    display: flex;
    gap: 15px;
    width: 100%;
}

.cart-page__container_left,
.cart-page__container_right {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.cart-page__container_left {
    min-width: 75%;
}

.cart-page__container_right {
    min-width: 25%;
    height: fit-content;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 5px 0 gray;
}

.cart-products__topbar,
.cart-products__container {
    display: flex;
    gap: 15px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 5px 0 gray;
}

.cart-products__topbar {
    justify-content: space-between;
    align-items: center;
}

.cart-topbar__container_pagination,
.cart-topbar__container_items,
.cart-topbar__container_pages {
    display: flex;
    align-items: center;
    gap: 15px;
}

.cart-topbar__text_main,
.cart-topbar__text_items,
.cart-topbar__text_pages {
    font-size: 1.3rem;
}


.cart-topbar__input,
.cart-summary__input {
    width: 30px;
    height: 30px;
    font-size: 1.3rem;
    text-align: center;
    border-radius: 5px;
    border: 1px solid gray;
}

.cart-products__container {
    flex-direction: column;
}

.cart-product__container {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 5px 0 gray;
}

.cart-product__container_main {
    display: flex;
    gap: 15px;
    width: 80%;
    cursor: pointer;
}

.cart-product__number {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 2rem;
    height: 2rem;
    border: 1px solid gray;
    border-radius: 5px;
}

.cart-product__image {
    aspect-ratio: 1/1;
    min-width: 100px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 5px;
}

.cart-product__container_desc {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.cart-product__title {
    font-size: 2rem;
}

.cart-product__container_fatures {
    display: flex;
    gap: 10px;
}

.cart-product__label {
    padding: 3px;
    border-radius: 3px;
}

.cart-product__category {
    color: white;
    background-color: rgb(137, 126, 236);
    border: 1px solid rgb(137, 126, 236);
}

.cart-product__brand {
    color: white;
    background-color: cornflowerblue;
    border: 1px solid cornflowerblue;
}

.cart-product__rating {
    border: 1px solid gray;
}

.cart-product__discount {
    color: white;
    background-color: rgb(187, 7, 7);
    border: 1px solid rgb(187, 7, 7);
}

.cart-product__container_amount {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    width: 15%;
    border-left: 1px solid gray;
}

.cart-product__price_disc {
    font-size: 2rem;
}

.cart-topbar__container_buttons,
.cart-product__container_buttons {
    display: flex;
    gap: 10px;
    padding-top: 10px;
}

.cart-topbar__container_buttons {
    padding-top: 0;
}

.cart-topbar__button,
.cart-product__button {
    width: 30px;
    height: 30px;
    font-size: 1.3rem;
    border-radius: 5px;
    border: 1px solid gray;
    user-select: none;
}

.cart-product__button_disabled {
    background-color: rgba(128, 128, 128, 0.5);
    pointer-events: none;
}

.cart-topbar__amount,
.cart-product__amount {
    display: flex;
    align-items: center;
    font-size: 1.1rem;
}

.cart-summary__text_main {
    padding: 5px;
    color: white;
    font-size: 2rem;
    text-align: center;
    background-color: #112D4E;
    border-radius: 5px;
}

.cart-summary__text_items,
.cart-summary__items,
.cart-summary__text_summ,
.cart-summary__summ_disc,
.cart-summary__summ {
    vertical-align: top;
    font-size: 2rem;
}

.cart-summary__summ_disc {
    color: #E23E57;
    padding-right: 5px;
}

.cart-summary__summ_lined {
    color: gray;
    font-size: 1.5rem;
    text-decoration: line-through;
}

.cart-summary__input {
    width: 100%;
}

.cart-summary__container_promo {
    display: flex;
    flex-direction: column;
    font-size: 1.3rem;
    border-radius: 5px;
    border: 1px solid grey;
}

.cart-summary__promo-item_container {
    display: flex;
    justify-content: space-between;
    gap: 5px;
    padding: 3px;
}

.cart-summary__promo-item_container_text {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.cart-summary__promo-item_name {
    display: flex;
    align-items: center;
}

.cart-summary__promo-item_disc,
.cart-summary__promo-item_button {
    padding: 3px;
    border-radius: 3px;
}

.cart-summary__promo-item_disc {
    color: white;
    background-color: #3F72AF;
}

.cart-summary__promo-item_button {
    width: 25px;
    border: 1px solid grey;
}

.cart-summary__tip {
    color: gray;
}

.cart-summary__button_buy {
    padding: 10px;
    border-radius: 5px;
    color: white;
    font-size: 1.3rem;
    font-weight: bold;
    background-color: #F67280;
}

.cart-summary__button_buy:hover {
    background-color: #E23E57;
    transition: all 0.3s ease;
}

.no-cart__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.no-cart__image {
    width: 300px;
    height: 300px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../../../assets/cart-empty.svg");}

.no-cart__header {
    padding: 15px;
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 5px 0 gray;
}

.no-cart__container_text {
    font-size: 1.2rem;
    text-align: center;
}

.no-cart__main_link {
    color: #3F72AF;
    text-decoration: underline;
    cursor: pointer;
}
.no-cart__main_link:hover {
    text-decoration: none;
}